[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
pyproj = "*"
sentry-sdk = "*"

[dev-packages]
coveralls = "*"
coverage = "*"
flake8 = "*"
black = ">=20.8b1"

[requires]
python_version = "3.9"
